@charset "UTF-8";
/* CSS Document */

body {
    /*font-size: 16px;*/
}
.space {
    display: inline-block;
    width: 32px;
}
#img {
    position: relative;
    top: 5px;
    left: 10px;
    cursor: pointer;
}

#captcha {
    width: 80px;
}
input {
    width: 200px;
    margin-bottom: 10px;
}

button {
    display: flex;
    position: relative;
    top: 5px;
    align-items: center;
    justify-content: center;
    width: 280px;
    cursor: pointer;
}
